langchain==0.1.17
langchain-core==0.1.52
langchain-community==0.0.36
langchain-pinecone==0.0.3
langchain-huggingface==0.0.3
langchain-groq==0.1.3
python-dotenv
pinecone-client
sentence-transformers
numpy==1.26.4